<section class="container">
    <div class="container__left">
        <h2 class="heading">Sobre mí</h2>
        <p>
            Ingeniero apasionado del Desarrollo Web y el Internet de las Cosas. Resolutivo, autónomo, autodidacta y
            perfeccionista.
        </p>
        <p>
            Mis prioridades se fundamentan en el trabajo en equipo, el sentido común y el desarrollo de código limpio,
            funcional y comprensible.
        </p>
        <p>
            Me motivan especialmente los proyectos de impacto significativo desarrollados por equipos positivos,
            eficientes y bien organizados.
        </p>
    </div>
    <div class="container__right">
        <div class="profile">
            <div class="profile__background"></div>
            <div class="profile__content">
                <img class="profile__img" src="assets/img/me.svg">
            </div>
        </div>
    </div>
</section>