//$color-primary: #04c2c9;
$color-primary: #0C9DDB;
$color-secondary: #7e30f2;
$color-tertiary: #4e61e0;
$background-color: #252934;

$color-white: #FFFFFF;
$color-gray: #666;
$color-gray-light: #b9b9b9;
$color-gray-dark: #2d3240;
$color-black: #1d1d1d;

$font-family: 'Raleway', sans-serif;
$font-color: #FFFFFF;